<% if current_user %>

  <% @posts = current_user.posts %>

    <div class="container">
      <div class="row">
          <% @posts.each do |m| %>
              <div class="col-sm-6 col-md-4">
                <a href="#" class="thumbnail g">

                  <% if m.ig_body == m.tweet_body %>
                    <img src="<%= m.media %>" alt="...">
                  <% else %>
                    <img class="bw" src="<%= m.media %>" alt="...">
                  <% end %>
                </a>
            </div>
          <% end %>
      </div>
    <div>

<% elsif almost_current_user%>

  <div class="jumbotron">
    <div class="container">
      <h1>Please Link Your Instagram Account</h1>
          <p>This is the last step, we promise.</p>
          <p><a href="https://api.instagram.com/oauth/authorize/?client_id=df66fefc3c6d4f3d9073f01ffec75120&redirect_uri=https://insta-embed.herokuapp.com/instacall&response_type=code" class="btn btn-success btn-lg">Let's Link Them »</a></p>
    </div>
  </div>

<% else %>

  <div class="jumbotron">
    <div class="container">
      <h1>SHARE SMARTER</h1>
          <p>Natively embed Instagram photos on Twitter</p>
          <p><a href="#" class="btn btn-success btn-lg">Get Started »</a></p>
    </div>
  </div>

<% end %>
