// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img.bw {
  -webkit-filter: grayscale(100%);
}

.thumbnail.g {
    display:inline-block;
    position: relative;
}

.thumbnail.g:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    background: green;
    opacity: .3;
}

.image-holder.r:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    background: red;
    opacity: .2;
}


.footer {
  border-top: solid;
  border-color: #F7F7F9;
  border-width: thin;
  padding-top: 25px;

}
