// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img.bw {
  -webkit-filter: grayscale(100%);
}

.footer {
  border-top: solid;
  border-color: #F7F7F9;
  border-width: thin;
  padding-top: 25px;

}
